*{
    margin: 0;
    padding: 0;
}

#navbar_div{
    background-image: url("https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    width: 100vw;
    height: calc(100vw*1/8);
   
      /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar_div>h2{
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 20%;
}

#search_input{
  position: absolute;
  left: 31%;
  top: 21%;
}
